.header
{
height:20%;
width:100%;
font-family:"TIMES NEW ROMAN";
font-size:50px;
color:#490000;
}
.content{
width:100%;
height:60%;
background-color:#FFE270;
}
.footer{
width:100%;
height:20%;
}
.navigate
{
   list-style-type: none;
    margin: 0;
    padding: 0;
}
#heading-name
{
	margin-left:;
	font-size:50px;
	text-align:center;
}
.list
{
 display: block;
    width: 60px;
}
/*.table
{
font-family:"TIMES NEW ROMAN";
font-size:50px;
color:#490000;
text-align:center;
}*/

/*.hd1
{
	text-align="center";
	
}*/


