body {
  font-family: Arial;
  margin: 0px;

}

/*
* Background image on home
*/
#background-home{
    background: url(../images/vacation-web.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/*
* Padding above and below form on home page
*/
#search{
  padding-top: 6%;
  padding-bottom: 15%
}


#search-box{
  padding-left: 0;
  padding-right: 0;
}

/*
* Cemter images/text in div
*/
.center{
  text-align: center;
}

/*
* Styles tabs
*/
.navbar{
  border-radius: 0px !important;
  margin-bottom: 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background: #000;
}

.nav-pills a{
  background: #fff;
  color: #000;
}


.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }

/*
* Styles opacity of form panel on home page
*/
.home-panel{
  background: rgba(0,0,0,0.4);
  color: white;
}

/*
* Background image on register
*/
#background-register, #background-login {
  background: url(../images/flight1.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
} 
/*
* padding above and below register form
*/
#register-form, #login-form{
  padding-top: 6%;
  padding-bottom: 10%;
}

.register-panel, .panel-default>.panel-heading, .panel .body{
  background: rgba(0,0,0,0.4);
  color: white;
}

.panel .body{
  padding: 15px;
}

.panel{
  margin-bottom: 0;
}

.custom-link{
  color: white;
  text-decoration: none;
  background: #337ab7;
  padding: 2%;
  border-radius: 4px;
}

.custom-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #286090;
  border-color: #204d74;
  }